<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gruppo|Lobster" rel="stylesheet">
    <!-- css stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
                <a class="navbar-brand blogname" href="index.html">Blog Kittens</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active content"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li class="content"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> New Post</a></li>
                    <li class="content"><a href="newUser.html"><i class="fa fa-address-card-o" aria-hidden="true"></i> New User</a></li>
                    <li class="content"><a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- CONTENT JUMBOTRON START -->
    <div class="container text-center">
        <div class="jumbotron">
            <h1 class="blogname logo">Blog <img class="icon" src="http://www.iconninja.com/files/287/869/197/client-cat-icon.png"/>Kittens</h1>
            <p class="content">Quick slogan about our awesome new blog.</p>
            <h2 class="fullblogtitle">Blog Title</h2>
        </div>
    </div>
    <div class="container fullblog text-center">
        <p class="user content">UserName / PostAuthor</p>
          <p class="blogcontent content text-center">
            Destroy couch mewl for food at 4am or meow for food, then when human fills food dish, take a few bites of food and continue meowing pushes butt to face so white cat sleeps on a black shirt. Gate keepers of hell cat not kitten around chase dog then run away chirp at birds when in doubt, wash. Meow to be let out hopped up on catnip make muffins. Poop in litter box, scratch the walls touch water with paw then recoil in horror yet purrr purr littel cat, little cat purr purr. Asdflkjaertvlkjasntvkjn (sits on keyboard) pooping rainbow while flying in a toasted bread costume in space curl up and sleep on the freshly laundered towels for scream at teh bath chase ball of string chew iPad power cord. Destroy couch as revenge sit on the laptop please stop looking at your phone and pet me or immediately regret falling into bathtub lick butt, or present belly, scratch hand when stroked.Destroy couch mewl for food at 4am or meow for food, then when human fills food dish, take a few bites of food and continue meowing pushes butt to face so white cat sleeps on a black shirt. Gate keepers of hell cat not kitten around chase dog then run away chirp at birds when in doubt, wash. Meow to be let out hopped up on catnip make muffins. Poop in litter box, scratch the walls touch water with paw then recoil in horror yet purrr purr littel cat, little cat purr purr. Asdflkjaertvlkjasntvkjn (sits on keyboard) pooping rainbow while flying in a toasted bread costume in space curl up and sleep on the freshly laundered towels for scream at teh bath chase ball of string chew iPad power cord. Destroy couch as revenge sit on the laptop please stop looking at your phone and pet me or immediately regret falling into bathtub lick butt, or present belly, scratch hand when stroked. Destroy couch mewl for food at 4am or meow for food, then when human fills food dish, take a few bites of food and continue meowing pushes butt to face so white cat sleeps on a black shirt. Gate keepers of hell cat not kitten around chase dog then run away chirp at birds when in doubt, wash. Meow to be let out hopped up on catnip make muffins. Poop in litter box, scratch the walls touch water with paw then recoil in horror yet purrr purr littel cat, little cat purr purr. Asdflkjaertvlkjasntvkjn (sits on keyboard) pooping rainbow while flying in a toasted bread costume in space curl up and sleep on the freshly laundered towels for scream at teh bath chase ball of string chew iPad power cord. Destroy couch as revenge sit on the laptop please stop looking at your phone and pet me or immediately regret falling into bathtub lick butt, or present belly, scratch hand when stroked.Destroy couch mewl for food at 4am or meow for food, then when human fills food dish, take a few bites of food and continue meowing pushes butt to face so white cat sleeps on a black shirt. Gate keepers of hell cat not kitten around chase dog then run away chirp at birds when in doubt, wash. Meow to be let out hopped up on catnip make muffins. Poop in litter box, scratch the walls touch water with paw then recoil in horror yet purrr purr littel cat, little cat purr purr.
          </p>
      </div>
      <div class="com container text-center">
      <h1 class="comTit">Comments</h1>
        <div class="commentCon container text-center">
          <p class="commentContent content">Destroy couch mewl for food at 4am or meow for food, then when human fills food dish, take a few bites of food and continue meowing pushes butt to face so white cat sleeps on a black shirt. Gate keepers of hell cat not kitten around chase dog then run away chirp at birds when in doubt, wash.</p>
      </div>
      <div class="commentCon container text-center">
        <p class="commentContent content">Destroy couch mewl for food at 4am or meow for food, then when human fills food dish, take a few bites of food and continue meowing pushes butt to face so white cat sleeps on a black shirt. Gate keepers of hell cat not kitten around chase dog then run away chirp at birds when in doubt, wash.</p>
    </div>
    <div class="commentCon container text-center">
      <p class="commentContent content">Destroy couch mewl for food at 4am or meow for food, then when human fills food dish, take a few bites of food and continue meowing pushes butt to face so white cat sleeps on a black shirt. Gate keepers of hell cat not kitten around chase dog then run away chirp at birds when in doubt, wash.</p>
  </div>
</div>
  <div class="newCommet container text-center">
    <h1 class="comTit">New Comment</h1>
    <textarea name="name" rows="8" cols="80"></textarea><br>
    <button class="btn btn-primary" type="button" name="button">Submit</button>
  </div>
</body>

</html>
