<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blog Kitten | Feed</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gruppo|Lobster" rel="stylesheet">
    <!-- css stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/appFronEnd.js" charset="utf-8"></script>
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
                <a class="navbar-brand blogname minilogo" href="/">Blog Kitten</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="content"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li class="content"><a href="../newuser"><i class="fa fa-address-card-o" aria-hidden="true"></i> New User</a></li>
                    <li class="content"><a href="../users/1"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- CONTENT JUMBOTRON START -->
    <div class="container text-center">
        <div id="logoHeader" class="jumbotron">
            <h1 class="blogname logo">Blog <img class="icon" src="http://www.iconninja.com/files/287/869/197/client-cat-icon.png"/> Kitten</h1>
            <p class="content">The Kats Meow.<br>Click on the post you want to read, comment, and enjoy.</p><br>
            <li id="newpost" class="content"><i class="fa fa-pencil" aria-hidden="true"></i> New Post</li>
        </div>
    </div>
    <div class="container text-center newpost hide">
      <form class="" action="/posts" method="post">
        <textarea placeholder="Start writing a new post.." id="textarea" name="name" rows="8" cols="80" value=""></textarea><br>
        <button class="btn btn-primary" type="submit" name="button">Submit</button><br><br>
      </form>
    </div>


            <% let parsed = JSON.parse(home) %>
            <% for(var i = 0; i < parsed.length; i++) {%>
              <a href="posts/<%=parsed[i].id%>">
              <div class="container fullblog text-center">
              <h2 class="blogtitle"><%= parsed[i].title%></h2>
              <p class="user content"><%= parsed[i].name %></p>
              <p class="blogcontent content text-center"><%= parsed[i].body %></p>
              </div>
              </a>
            <% } %>


</body>

</html>
